@import url('https://fonts.googleapis.com/css?family=Gruppo');
.main-header {
  font-family: Gruppo, cursive;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.hideDivButtons button {
  display: none;
}

.hideDivButtons:hover button {
  display: inline-block;
}

.scale-up-ver-center {
  -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

